@import url(Variables_root/Root.css);
@import url(Gasto_registrado/RegistroGasto__header__logo.css);
@import url(Gasto_registrado/RegistroGasto__main.css);
@import url(Gasto_registrado/RegistroGasto__main__form.css);
@import url(Gasto_registrado/RegistroGasto_footer.css);