@font-face{
    font-family: 'MiFuente';
    src: url("/fuentes/Abhaya_Libre/AbhayaLibre-Regular.ttf") ; 
    font-style: normal;
}
h1{
    font-family: 'MiFuente';
    font-size: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main{
    display: flex;
    grid-area: main;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;

}