@import url(Variables_root/Root.css);
@import url(Pedido_registrado/RegistroPedido__header__logo.css);
@import url(Pedido_registrado/RegistroPedido__main.css);
@import url(Pedido_registrado/RegistroPedido__main__form.css);
@import url(Pedido_registrado/RegistroPedido_footer.css);