@import url(Variables_root/Root.css);
@import url(Produc_registrado/RegistroProduc__header__logo.css);
@import url(Produc_registrado/RegistroProduc__main.css);
@import url(Produc_registrado/RegistroProduc__main__form.css);
@import url(Produc_registrado/RegistroProduc_footer.css);