@import url(/css/Variables_root/Root.css);
@import url(/css/Regis_gastos_finaliz/Registro_gasto_fin__header__logo.css);
@import url(/css/Regis_gastos_finaliz/Registro_gasto_fin__main.css);
@import url(/css/Regis_gastos_finaliz/Registro_gasto_fin__main__form.css);
@import url(/css/Regis_gastos_finaliz/Registro_gasto_fin_footer.css);