@import url(Variables_root/Root.css);
@import url(Registro_pedidos/RegistroPedidos__header__logo.css);
@import url(Registro_pedidos/RegistroPedidos__main.css);
@import url(Registro_pedidos/RegistroPedidos__main__form.css);
@import url(Registro_pedidos/RegistroPedidos_footer.css);