@import url(/css/Variables_root/Root.css);
@import url(/css/Regis_pedidos_finaliz/Registro_pedidos_fin__header__logo.css);
@import url(/css/Regis_pedidos_finaliz/Registro_pedidos_fin__main.css);
@import url(/css/Regis_pedidos_finaliz/Registro_pedidos_fin__main__form.css);
@import url(/css/Regis_pedidos_finaliz/Registro_pedidos_fin_footer.css);