@import url(/css/Variables_root/Root.css);
@import url(/css/Regis_produc_finaliz/Registro_produc_fin__header__logo.css);
@import url(/css/Regis_produc_finaliz/Registro_produc_fin__main.css);
@import url(/css/Regis_produc_finaliz/Registro_produc_fin__main__form.css);
@import url(/css/Regis_produc_finaliz/Registro_produc_fin_footer.css);