@import url(Variables_root/Root.css);
@import url(registro_produc_estilos/RegistroProduc__header__logo.css);
@import url(registro_produc_estilos/RegistroProduc__main.css);
@import url(registro_produc_estilos/RegistroProduc__main__form.css);

@import url(registro_produc_estilos/RegistroProduc_footer.css);