@import url(Variables_root/Root.css);
@import url(Registro_gastos_estilos/RegistroGastos__header__logo.css);
@import url(Registro_gastos_estilos/RegistroGastos__main.css);
@import url(Registro_gastos_estilos/RegistroGastos__main__form.css);
@import url(Registro_gastos_estilos/RegistroGastos_footer.css);
