@import url(Variables_root/Root.css);
@import url(registro2_estilos/Registro2__header__logo.css);
@import url(registro2_estilos/Registro2__main.css);
@import url(registro2_estilos/Registro2__main__form.css);
@import url(registro2_estilos/Registro2_footer.css);
@import url(registro2_estilos/Registro2__header__logo.css);