.main__section__prd_regist{
    display: flex;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 10px #50505067;
    font-family: "mifuente";
    margin-bottom: 60px;
}
.main__section__prd_regist div img{
    margin-top: 20px;
    width: 60px;
}

.main__section__rutas{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 140px;
}
.main__section__rutas i{
    font-size: 45px;
    color: var(--color-letras);
}

.section__agg, .section__fin_regis {
    padding: 10px;
    height: 120px;
    text-decoration: none;
    color: var(--color-letras);
}

.main__section__rutas h3{
    font-family: "mifuente";
}

