main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    padding: 40px;
    font-family: "mifuente";
}

.contenedor__menu {
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.contenedor__menu div {
    display: flex;
    width: 210px;
    height: 210px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondo_img {
    width: 20px;
    height: 10px;
    border-radius: 100%;
}



.contenedor__menu img {
    height: 100px;
    width: 100px;
}

.contenedor__aggBar {
    transition: all 0.5s ease;
    border: 2px solid rgba(0, 0, 0, 0.247);
    padding: 10px;
}

.contenedor__aggBar:hover {
    box-shadow: 0px 0px 10px black;
}

.contenedor__menu i {
    font-size: 50px;
    color: var(--color-letras);
}

a {
    text-decoration: none;
}

.contenedor__menu p {
    margin-top: 15px;
    font-family: "mifuente";
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-letras);
}


h1 {
    font-family: "mifuente";
    text-align: center;
}

@media (max-width: 768px) {
    .contenedor__menu {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}