.main__contenedorForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 380px;
    
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.404);
}

.main__formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
    margin-bottom: 30px;
}


.campo input{
    width: 240px;
    border: none;
    border-bottom: 1px solid #A6A6A6 ;
    padding: 5px;
    transition: all 0.3s ease;
    text-align: center;

}


.main__formulario input::placeholder{
    text-align: center;
    font-family: "mifuente";
    font-size: 20px;
    color: var(--letras-form);
}

.main__formulario input:focus{
    text-align: center;
    outline: none;
    border-color: var(--boton-iniciarSesion);
    box-shadow: 0 0 5px #004B76;
}

.formulario-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.boton_img {
    font-family: "mifuente";
    color: var(--letras-form);
    cursor: pointer;
    font-size: 19px;
}

input[type="file"] {
    display: none;
}

.icono{
    color: #A6A6A6;
    transform: translateX(20%);
    pointer-events: none; /*hace que no interfiera y el clic pase a mostrar todo los tipos de documentos */
}

.form__tiposDocumento{
    width: 240px;
    border: none;
    border-bottom: 1px solid #A6A6A6 ;
    font-family: "mifuente";
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #A6A6A6 ;
    height: 36px;
    appearance: none; /*sirve para quitar el icono predeterminado de la derecha*/ 
    transition: all 0.3s ease;
    margin-left: -20px;
}



.form__tiposDocumento:focus {
    text-align: center;
    font-family: "mifuente";
    color: #000000;
    background-color: #ffffff;

}

.cuadro-imagen {
    margin-top: 20px;
    width: 200px;
    height: 175px;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor__btnfinalizar{
    align-items: center;
    font-family: "mifuente";
    font-size: 16px;
    padding: 10px;
    width: 230px;
    border-radius: 20px;
    background-color: var(--boton-finalizado); 
    color: white;
    border: none;
    cursor: pointer;
}


