main{
    display: flex;
    grid-area: main;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: var(--color-fondo);
    cursor: default; /*evita que el cursor cambien en elementos que no se necesitan */
    user-select: none; /*sirve para que el usuario no seleccione texto pero lo use para que no se vea como si estuviera escibiendo */

}
.main__titulo{
    font-size: 30px;
    margin-bottom: 6px;
    font-family: "mifuente";
    font-weight: lighter;
    color: var(--color-letras);

}

.main__subtitulo{
    font-family: "mifuente";
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--color-letras);
}

.seccion__inicioResgistrar{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 35px;

}

.seccion__inicioResgistrar a{
    text-decoration: none;
    font-size: 18px;
}

.inicio_sesion{
    font-family: "mifuente";
    color: var(--letras-form);
}


.registrarse{
    font-family: "mifuente";
    color: #004B76;
    border-bottom: 2px solid black ;
}