*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'mifuente';
    src: url("/assets/Abhaya_Libre/AbhayaLibre-Regular.ttf") ; 
    font-style: normal;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
}
header{
    grid-area: header;
    display: flex;
    background-color: var(--color-header);
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center ;
    width: 100%;
    height: 120px;
}
.navbar__logo{
    height: 80px;

}
