<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Productos</title>
    <link rel="stylesheet" href="../css/editar_productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="../assets/img/LOGO.png" alt="logo_sistema">
        </nav>
    </header>
    <main>
        <h2>GESTIÓN DE PRODUCTOS</h2>

        <div class="table-container">
            <table class="data-table">
                <thead class="data-table__head">
                    <tr class="data-table__row data-table__row--head">
                        <th class="data-table__cell data-table__cell--head">ID</th>
                        <th class="data-table__cell data-table__cell--head">Nombre</th>
                        <th class="data-table__cell data-table__cell--head">Precio</th>
                        <th class="data-table__cell data-table__cell--head">Marca</th>
                        <th class="data-table__cell data-table__cell--head">Tipo</th>
                        <th class="data-table__cell data-table__cell--head">Cantidad</th>
                        <th class="data-table__cell data-table__cell--head">Acciones</th>
                    </tr>
                </thead>
                <tbody class="data-table__body">
                    <!-- Datos de ejemplo -->
                    <tr class="data-table__row">
                        <td class="data-table__cell" data-label="ID">001</td>
                        <td class="data-table__cell" data-label="Nombre">Cerveza Poker</td>
                        <td class="data-table__cell" data-label="Precio">$4,000</td>
                        <td class="data-table__cell" data-label="Marca">Bavaria</td>
                        <td class="data-table__cell" data-label="Tipo">Bebidas</td>
                        <td class="data-table__cell" data-label="Cantidad">50</td>
                        <td class="data-table__cell" data-label="Acciones">
                            <a href="#modal-editar" class="button button--edit">
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                            </a>
                        </td>
                    </tr>
                    <tr class="data-table__row">
                        <td class="data-table__cell" data-label="ID">002</td>
                        <td class="data-table__cell" data-label="Nombre">Papas Margarita</td>
                        <td class="data-table__cell" data-label="Precio">$3,000</td>
                        <td class="data-table__cell" data-label="Marca">Margarita</td>
                        <td class="data-table__cell" data-label="Tipo">Snacks</td>
                        <td class="data-table__cell" data-label="Cantidad">20</td>
                        <td class="data-table__cell" data-label="Acciones">
                            <a href="#modal-editar" class="button button--edit">
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                            </a>
                        </td>
                    </tr>
                    <tr class="data-table__row">
                        <td class="data-table__cell" data-label="ID">003</td>
                        <td class="data-table__cell" data-label="Nombre">Coca Cola</td>
                        <td class="data-table__cell" data-label="Precio">$3,500</td>
                        <td class="data-table__cell" data-label="Marca">Coca Cola</td>
                        <td class="data-table__cell" data-label="Tipo">Bebidas</td>
                        <td class="data-table__cell" data-label="Cantidad">30</td>
                        <td class="data-table__cell" data-label="Acciones">
                            <a href="#modal-editar" class="button button--edit">
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="menu_inventario.html" class="btn-regresar">
            <i class="fa-solid fa-arrow-left"></i> Regresar
        </a>
    </main>
    <div id="modal-editar" class="modal">
        <div class="modal__content">
            <a href="#" class="modal__close">&times;</a>
            <h3 class="modal__title">Editar Producto</h3>
            <form class="modal__form">
                <div class="form-group">
                    <label class="form-group__label">Nombre del Producto</label>
                    <input class="form-group__input" type="text" value="Cerveza Poker">
                </div>
                <div class="form-group">
                    <label class="form-group__label">Precio</label>
                    <input class="form-group__input" type="text" value="$4,000">
                </div>
                <div class="form-group">
                    <label class="form-group__label">Cantidad</label>
                    <input class="form-group__input" type="number" value="50">
                </div>
                <div class="modal__actions">
                    <a href="#" class="button button--cancel">Cancelar</a>
                    <a href="#" class="button button--accept">Aceptar</a>
                </div>
            </form>
        </div>
    </div>

    <footer>
    </footer>
</body>

</html>