<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro 2</title>
  <link rel="stylesheet" href="/css/inicio_inv.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
  <header>
    <nav class="navbar">
      <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
    </nav>

  </header>
  <main>
    <section>
    <h1 class="main__titulo">Inicializacion de inventario:</h1>
    <h2 class="main__subtitulo">Fuente de soda la jenny</h2>


    <form class="main__formulario" action="/view/menu_inventario.html">
      <a href="Menu_sistema.html" class="btn-regresar">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <div class="campo">
        <label for="name" class="formulario__nombre"></label>
        <input id="name" class="form__input_name" type="date" required placeholder="Nombre del bar">
      </div>

      <div class="form__iconTiposDoc">
        <i class="fas fa-angle-down icono"></i>
        <select class="form__tiposDocumento" required>
          <option disabled selected> Tipo de control</option>
          <option>Semanal</option>
          <option>Mensual</option>
        </select>
      </div>

      <div class="estilo_difuminado">
        <button class="contenedor__btnRegistro">Finalizar</button>
      </div>

    </form>
    </section>
  </main>
  <footer>

  </footer>

</body>

</html>