<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="/css/Inicio_sesion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
        </nav>

    </header>
    <main>
        <h1 class="main__titulo">Inicio sesion</h1>
        <h2 class="main__subtitulo">Contabilidad-Sistematica</h2>
        <section class="seccion__inicioResgistrar">
            <a href="#" class="inicio_sesion">Iniciar sesion</a>
            <a href="/view/registroUser.html" class="registrarse">Registrarse</a>
        </section>

        <form class="main__formulario"  >
            <div class="campo">
                <label for="email" class="formulario__email__icon"></label>
                <i class="fas fa-envelope icono"></i>
                <input class="form__input_email" type="email" name="email" required placeholder="Email">
            </div>

            <div class="campo">
                <label for="password" class="formulario__password__icon"></label>
                <i class="fas fa-lock icono"></i>
                <input class="form__input_email" type="password"  name="password" required placeholder="Contraseña">      
            </div>

            <div class="contenedor__btnLogin">
                <button class="formulario__btnLogin" >Inciar sesion</button>
            </div>
            
        </form>
        
        <div class="form__opciones">
            <div class="recordar_Contra">
                <label class="opcion__recordarContra"></label>
                <input type="checkbox" name="remember"> <span>Recordar contraseña</span>
            </div>
            <a href="#" class="opcion__cambiarContra">Cambiar contraseña</a>
        </div>

            
        
    </main>
    <footer>

    </footer> 
    
</body>
</html>