<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventario detalle</title>
    <link rel="stylesheet" href="/css/inv_detalle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
        </nav>
    </header>
    <main class="inventario">
        <section class="inventario__encabezado">
            <h1 class="inventario__titulo">Contabilidad-Sistematica</h1>
            <p class="inventario__instruccion">Registre el stock de productos iniciales</p>
        </section>
        <label for="busqueda" class="inventario__etiqueta-busqueda"></label>
        <input type="text" id="busqueda" class="inventario__entrada-busqueda" placeholder="Buscar producto...">
        <section class="inventario__tabla">
            <div class="inventario__contenedor-scroll">
                <table class="inventario__tabla-contenido">
                    <thead class="inventario__cabecera-tabla">
                        <tr class="inventario__fila inventario__fila--cabecera">
                            <th class="inventario__celda">ID</th>
                            <th class="inventario__celda">Nombre</th>
                            <th class="inventario__celda">Imagen</th>
                            <th class="inventario__celda">Precio</th>
                            <th class="inventario__celda">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody class="inventario__cuerpo-tabla">
                        <tr class="inventario__fila">
                            <td class="inventario__celda">1</td>
                            <td class="inventario__celda">Poker</td>
                            <td class="inventario__celda"><img src="/assets/img/poker.png" alt="Poker" class="inventario__imagen"></td>
                            <td class="inventario__celda">$3.500</td>
                            <td class="inventario__celda"><input type="number" class="inventario__entrada-cantidad" placeholder="Cantidad"></td>
                        </tr>
                        <tr class="inventario__fila">
                            <td class="inventario__celda">2</td>
                            <td class="inventario__celda">Aguila</td>
                            <td class="inventario__celda"><img src="/assets/img/aguila.png" alt="Aguila" class="inventario__imagen"></td>
                            <td class="inventario__celda">$3.500</td>
                            <td class="inventario__celda"><input type="number" class="inventario__entrada-cantidad" placeholder="Cantidad"></td>
                        </tr>
                        <tr class="inventario__fila">
                            <td class="inventario__celda">3</td>
                            <td class="inventario__celda">Cigarros Lucky</td>
                            <td class="inventario__celda"><img src="/assets/img/cigarros_lucky.png" alt="Cigarros Lucky" class="inventario__imagen"></td>
                            <td class="inventario__celda">$1.200</td>
                            <td class="inventario__celda"><input type="number" class="inventario__entrada-cantidad" placeholder="Cantidad"></td>
                        </tr>
                        <tr class="inventario__fila">
                            <td class="inventario__celda">4</td>
                            <td class="inventario__celda">Cigarros Lucky</td>
                            <td class="inventario__celda"><img src="/assets/img/cigarros_lucky.png" alt="Cigarros Lucky" class="inventario__imagen"></td>
                            <td class="inventario__celda">$1.200</td>
                            <td class="inventario__celda"><input type="number" class="inventario__entrada-cantidad" placeholder="Cantidad"></td>
                        </tr>
                        <tr class="inventario__fila">
                            <td class="inventario__celda">5</td>
                            <td class="inventario__celda">Cigarros Lucky</td>
                            <td class="inventario__celda"><img src="/assets/img/cigarros_lucky.png" alt="Cigarros Lucky" class="inventario__imagen"></td>
                            <td class="inventario__celda">$1.200</td>
                            <td class="inventario__celda"><input type="number" class="inventario__entrada-cantidad" placeholder="Cantidad"></td>
                        </tr>
                        <tr class="inventario__fila">
                            <td class="inventario__celda">6</td>
                            <td class="inventario__celda">Cigarros Lucky</td>
                            <td class="inventario__celda"><img src="/assets/img/cigarros_lucky.png" alt="Cigarros Lucky" class="inventario__imagen"></td>
                            <td class="inventario__celda">$1.200</td>
                            <td class="inventario__celda"><input type="number" class="inventario__entrada-cantidad" placeholder="Cantidad"></td>
                        </tr>
                        <tr class="inventario__fila">
                            <td class="inventario__celda">7</td>
                            <td class="inventario__celda">Cigarros Lucky</td>
                            <td class="inventario__celda"><img src="/assets/img/cigarros_lucky.png" alt="Cigarros Lucky" class="inventario__imagen"></td>
                            <td class="inventario__celda">$1.200</td>
                            <td class="inventario__celda"><input type="number" class="inventario__entrada-cantidad" placeholder="Cantidad"></td>
                        </tr>                                        
                    <!-- más filas de productos -->
                    </tbody>
                </table>
            </div>
        </section class="contenedor__boton">
            <p class="inventario__nota">(Ingrese la cantidad de producto inicial que tienes a la venta)</p>
            <a href="menu_inventario.html" class="inventario__boton-finalizar">
                <i class="fas fa-check inventario__icono-finalizar"></i>
                Finalizar el registro
            </a>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>