<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu sistema</title>
    <link rel="stylesheet" href="/css/menu_sistema.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
        </nav>
    </header>
    <main>
        <h1>Contabilidad-Sistematica</h1>
        <section class="contenedor__menu">
            <a href="Lista_bares.html">
                <div class="contenedor__viewBares">
                    <div class="fondo_img">
                        <img src="/assets/img/view_bares.png" alt="bares_logo">
                    </div>
                    <p>VER MIS BARES</p>
                </div>
            </a>

            <a href="registroBar.html">
                <div class="contenedor__aggBar">
                    <div class="fondo_img">
                        <img src="/assets/img/agg_bar.png" alt="agg_bar">
                    </div>
                    
                    <p>AGREGAR BAR</p>
                </div>                
            </a>


        </section>

    </main>
    <footer>

    </footer> 
</body>
</html>