<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu principal de inventario</title>
    <link rel="stylesheet" href="/css/menu_inventario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
        </nav>
    </header>
    <main>
        <h1>Contabilidad-Sistematica</h1>
        <h2>Inventario de el bar: fuente de soda la jenny</h2>

        <aside class="navegacion">
            <h2 class="navegacion__titulo">Panel</h2>

            <ul class="navegacion__lista">
                <li class="navegacion__item"><a href="#" class="navegacion__enlace">Productos</a></li>
                <li class="navegacion__item"><a href="#" class="navegacion__enlace">Gastos</a></li>
                <li class="navegacion__item"><a href="#" class="navegacion__enlace">Pedidos</a></li>
                <li class="navegacion__item"><a href="#" class="navegacion__enlace">Ventas</a></li>
                <li class="navegacion__item"><a href="#" class="navegacion__enlace">Editar Productos</a></li>
            </ul>
        </aside>
        <section class="contenido">
            <h1 class="contenido__titulo">
                Inventario del bar: <span class="contenido__negocio">Fuente de Soda La Jenny</span>
            </h1>

            <div class="acciones">
                <button class="acciones__boton acciones__boton--gasto">Agregar Gasto</button>
                <button class="acciones__boton acciones__boton--pedido">Agregar Pedido</button>
                <button class="acciones__boton acciones__boton--venta">Agregar Venta</button>
            </div>
        </section>

    </main>
    <footer>

    </footer>
</body>
</html>