<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto registrado</title>
    <link rel="stylesheet" href="/css/Produc_registrado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
        </nav>
    </header>
    <main>
        <h1 class="main__titulo">Contabilidad-Sistematica</h1>
        
        <section class="main__contenedorForm">
            <div>
                <h2>PRODUCTO REGISTRADO <br> CON EXITO</h2>
                <img src="/assets/img/icono_correcto.png" alt="img_correcto">
            </div>
        </section>
        <section>
            <div>
                <i class="fa-solid fa-plus"></i>
                <h3>Agregar otro producto</h3>
            </div>

            <div>
                
            </div>
            
        </section>
    </main>
    <footer>

    </footer> 
</body>
</html>