<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de productos finalizado</title>
    <link rel="stylesheet" href="/css/Registro_produc_finaliz.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
        </nav>
    </header>
    <main>
        <h1 class="main__titulo">fuente de soda la jenny</h1>
        <section class="fondo-blur">
            <div class="registro_confirmacion">
                <h2>REGISTRO DE PRODUCTOS FINALIZADO CON EXITO</h2>
                <img src="/assets/img/icono_correcto.png" alt="icono_correcto">
            </div>
            <div class="contenedor_boton">
                <a class="boton_nex" href="/view/Registro_gastos.html">SIGUENTE --></a>
            </div>
            
        </section>
    </main>
    <footer>

    </footer> 
</body>
</html>