<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Bar</title>
    <link rel="stylesheet" href="/css/visualizar_bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <img class="navbar__logo" src="/assets/img/LOGO.png" alt="logo_sistema">
        </nav>
    </header>
    <main>
        <h2>DETALLES DEL BAR</h2>
        <div class="contenedor-detalle-bar">
            <div class="tarjeta-bar">
                <h3>Fuente de soda la Jenny</h3>
                <p><strong>Estado:</strong> <span class="estado-activo">Activo</span></p>
                <p><strong>Dirección:</strong> Calle 123 # 45-67</p>
                <p><strong>Teléfono:</strong> 300 123 4567</p>
                <p><strong>Administrador:</strong> Juan Pérez</p>

                <div class="acciones-bar">
                    <a href="/view/menu_inventario.html" class="btn-ir-menu">
                        <i class="fa-solid fa-list-check"></i> Ir al Menú de Inventario
                    </a>
                </div>
            </div>
        </div>
        <a href="Lista_bares.html" class="btn-regresar">
            <i class="fa-solid fa-arrow-left"></i> Regresar
        </a>
    </main>
    <footer></footer>
</body>

</html>